#footer-wrapper
  #footer.container
    %h3 OpenPlanning
    .keepintouch
      %p
        %strong Find,
        %strong Filter
        and
        %strong View
        applications in your local area or area of interest.
    .oaf
      %p
        Built on
        %a(href="https://github.com/openaustralia/planningalerts" title="PlanningAlerts on GitHub") open source code
      %p
        from
        %a(href="http://openaustraliafoundation.org.au" title="The OpenAustralia Foundation") The OpenAustralia Foundation
